.onebanner
{
    background-color: rgb(255, 175, 189);    
    color: white;
    border-top: 1px solid grey;
    width: 90%;
    margin-left: 5%; 
}

.onebanner > h2
{
    padding-bottom: 1.5%;
}

.mhproduct
{
    margin-left: 11%;
    width: 80%;
   display: grid;
   grid-template-columns: 30% 30% 30%;
   gap: 2%    ;
}

.mhproduct1
{
    display: grid;
    grid-template-columns: 50% 40%; 
    background-color: rgb(233, 225, 225);   
    border-radius: 10px;    
}

.mhproduct1 > div > img
{
    height: 100%;
    width: 100%;
}

.hpdetails
{    
    padding: 70px 0;    
    text-align: center;
}

.pheading
{
    font-size: larger;
    font-weight: bolder;        
}

.pdetails
{
    font-size: larger;
    font-weight: normal;    
}

.mhproduct1:hover
{       
    color:green;

}