.mainnav {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 60px;
    border-bottom: 2px solid grey;
    background-color: white;
        
    overflow: hidden;   
    position: fixed; 
    top: 0;
    width: 100%; 

    
}

.cartimg>img {
    height: 50px;
    width: auto;
}

.login
{
    width: 30%;   
    
}

.search>input {
    height: 30px;
    width: 55%;
    margin-top: 10px;
}

.logoimg>img {
    height: 50px;
    width: auto;
}

.mainnav>div {
    height: 100%;
}

